body{
    font-family: "Helvetica Neue",Helvetica;
    background-color: #dfe3ee;


}
.navbar{
    padding: 16px;
    
    
    

}
    #titulo{
        font-size: 25px;
        color: #fff;
        padding: 10px;
    }
    .nav-list{
        list-style: none;
        display: flex;
    }
    .link-linkedin{
        padding: 10px;
        
    }
    .logo-linkedin{        
        font-size: 30px;
        color: #fff;
    }
    .logo-linkedin:hover{
        color: darkgrey; 
    }
    
    .link-instagram{       
        padding: 10px;
    }
    .logo-instagram:hover{
        color: darkgrey; 

    }
    .logo-instagram{
        font-size: 30px;
        color: #fff;
    }
    .login{
        font-size: 20px;
        
        
        
    }
    
.header{
    background-color: #f7f7f7;
    
    

}
    .fotos{
        height:auto;
        

    }
    .banner-img{
        border-radius: 10px;
        
        
        
        
        
    }
    .img-perfil{
        /*position: relative;  LA DEJA BIEN UBICADA PERO ROMPE TODO*/
        bottom: 120px;
        left: 35px;
        border-radius: 50%; 
        
         
    }
    .me{
        padding: 10px;
        margin: 10px;
    }
        #my-name{
            text-decoration: underline;
            
        }
.descripcion{
    background-color: #f7f7f7;
    border: 5px solid black;
}
.article{
    background-color: #f7f7f7;
    border: 5px solid red;
    

}
.exp{
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
    
    
}
    .puesto{}
    .educ{}
}
.skills{
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
}
.proyects{
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
}
.footer{
    background-color: #f7f7f7;
    border: 5px solid black;
}
