body{
    font-family: "Helvetica Neue",Helvetica;
    background-color: #dfe3ee;
    padding-right: 10px;
    
    


}
.navbar{
    padding: 10px;
    margin: 10px; 
    width: 100%;   
    
    

}
    .logo-argentinaprograma{
        width: 180px;
        height: 100px;
    }
    .nav-list{
        list-style: none;
        display: flex;
        
    }
    .nav-link{
        color: #fff !important;
        
    }
    .nav-link:hover{
        color: darkgrey !important;
    }
    .nav-item{
        font-size: 25px;
        display: flex;
        justify-content: center;
        padding: 10px;
        color: #fff;
        
        
    
    }
    .link-github{
        padding: 10px;
    }

    .link-linkedin{
        padding: 10px;
        
    }
    .link-instagram{       
        padding: 10px;
       
    }
    .login{
        font-size: 20px;     
        
        
    }
    
.header{
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 10px;
    

}
    .profile-pic{
        height: 20px;
    }
    .banner-img{
        border-radius: 10px;
        z-index: 1;  
        padding: 10px;
    }
    .img-perfil{
        bottom: 80px;
        left: 40px;
        width: 120px;
        height: 120px;
        border-radius: 50%; 
        position: relative;
        z-index: 2;
        padding: 10px;
        
        
    
    }
    .me{
        padding: 10px;
        margin: 10px;
       
    }
        #my-name{
            text-decoration: underline;
            
        }
.descripcion{
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
}
    #about-me{
        font: size 20px;
        padding: 10px;
        margin: 10px;
        text-decoration: underline;
    }
    .texto-yo{
        padding: 10px;
        margin: 10px;
        font-size: 18px;
    }
.article{
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    

}
.exp{
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px;
    
    
    
}
    .tabla-trabajos{
        text-align: center;
        border: solid 2px darkgrey;
    }
    #expe{
        text-decoration: underline;
    }
    .puesto{
        margin-left: 20px;
        
    }
    #education{
        text-decoration: underline;
        margin-bottom: 20px;
        
    }

.skills{
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
    .habilidades{
        text-decoration: underline;
        padding: 10px;
        margin: 10px;
        text-align: center;

    }
    .skill{
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    .tecnologia{
        border-radius: 5px;
        background-color: lightgray;
        padding: 5px;
        margin: 15px;
        font-size: 20px;
        font-style: italic;
        text-align: center;
        box-shadow: 8px 3px 3px black;;
        

    }
.proyects{
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
}
    .proyec{
        text-decoration: underline;
        text-align: center;
    }
    .card-body{
        padding: 10px;
        
    }
    .boton-proyecto{
        display: inline-block;
        justify-content: center;
        margin: 10px;
        width: 40%;

    }

