<article class="article container-fluid">

    <section class="exp row">          
        <div class="trabajos col-xxl-11">
            <h1 id="expe">Experiencia</h1>


            <table class="table tabla-trabajos">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="display:none">id</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Descripcion</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" style="display:none">1</th>
                    <td>Manager</td>
                    <td>2019-2021</td>
                    <td>Manejo de local</td>
                </tr>
                </tbody>
            </table>
            
        </div>

        <div class="educ">
            <h1 id="education">Educación</h1>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Formacion Inicial</h5>
                      <p class="card-text">Colegio San Jose</p>
                      <p>2016</p>
                      
                    </div>
                  </div>
                </div>
                      
            </div>

        </div>

    </section>

</article>