<nav class="navbar navbar-dark bg-dark ">

    <h1 id="titulo"><img src="assets\ArgP-logo.png" class="logo-argentinaprograma"/></h1>  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbaroculta">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbaroculta">
        <ul class="nav-list navbar-nav ">
            <li class="nav-item"><a href="https://github.com" class="link-github nav-link" target="new_blank">GitHub<i class="bi bi-github logo-github"></i></a></li>

            <li class="nav-item"><a href="https://www.linkedin.com" class="link-linkedin nav-link" target="new_blank">Linked<i class="bi bi-linkedin"></i></a></li>

            <li class="nav-item"><a href="https://instagram.com" class="link-instagram nav-link"target="new_blank"><i class="bi bi-instagram"></i>Instagram</a> </li>

            <li class="nav-item"><button type="button" class="login btn btn-outline-light btn-right">Login</button></li>
        </ul>
    </div>
    
</nav>
