<div class="proyects">
    <h1 class="proyec">Proyectos</h1>
    
    
    <div class="card" style="width: 20rem; margin: 10px;">
        <img class="card-img-top img-fluid" src="https://www.avanzaentucarrera.com/orientacion/comp/uploads/2021/11/AETC_Haz-tu-CV.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">CV Online</h5>
          <p class="card-text text-center">CV hecho con angular y springboot</p>
          <a href="#" class="btn btn-dark boton-proyecto" target="new_blank">Link</a>
          <a href="#" class="btn btn-dark boton-proyecto" target="new_blank">Repositorio</a>
        </div>
      </div>
    
</div>
