<header class="header container-fluid">
    <div class="fotos">
        <img src="https://i.imgur.com/XCyQoFd.jpg" class="banner-img img-fluid">     
        <div class="profile-pic">   
        <img src="https://img.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg" class="img-perfil">
        </div>
    </div>
    
    <div class="me">
        <h2 id="my-name">Gastón Romero </h2>
        <h5>Estudiante de Ingeniería en Sistemas</h5>       
        <h5>Desarrollador Web Fullstack Jr</h5>
        <button class="btn btn-primary">Contactame</button>
        
    <button class="btn btn-success modificar" >Editar</button>
    </div>
    
</header>

<div class="descripcion container-fluid">
    <h1 id="about-me">Sobre mí</h1>
    <p class="texto-yo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam quia quae possimus atque, inventore excepturi quidem, veniam nam quo suscipit? Nostrum culpa nulla, minus atque maxime adipisci ex harum.
    Iusto facere corporis iure odit esse. Beatae, debitis. Sunt, incidunt nulla excepturi ex corrupti sit debitis minus reiciendis, accusamus rerum, quisquam quia ducimus molestiae dolores quibusdam delectus fugit asperiores hic?
    Aut error dignissimos nostrum voluptatibus officia? At natus, quia officiis modi earum labore necessitatibus accusamus, ab aut dolorem nostrum totam voluptas in eveniet ipsum ipsam nulla ullam, eligendi rerum placeat!</p>
    <button class="btn btn-success modificar">Editar</button>

</div>
